*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--default-size-border-radius-small: calc(var(--size-border-radius) / 2);
	--default-size-border-radius: 10px;
	--default-size-font-base: 12pt;
	--default-border-large: 2px solid var(--color-border);
	--default-border: 1px solid var(--color-border);
	--light-border-large: var(--default-border-large);
	--light-border: var(--default-border);
	--light-color-accent: #0057ad;
	--light-color-background-highlight: #f1f1f1;
	--light-color-background: #fff;
	--light-color-border: #ddd;
	--light-color-links: var(--color-accent);
	--light-color-text-highlight: #b8b8b8;
	--light-color-text: #1c1d1e;
	--light-size-border-radius-small: var(--default-size-border-radius-small);
	--light-size-border-radius: var(--default-size-border-radius);
	--light-size-font-base: var(--default-size-font-base);
	--dark-border-large: var(--default-border-large);
	--dark-border: var(--default-border);
	--dark-color-accent: #00bfff;
	--dark-color-background-highlight: #222;
	--dark-color-background: #0f0f0f;
	--dark-color-border: #444;
	--dark-color-links: var(--default-color-accent);
	--dark-color-text-highlight: #888;
	--dark-color-text: #efefef;
	--dark-size-border-radius-small: var(--default-size-border-radius-small);
	--dark-size-border-radius: var(--default-size-border-radius);
	--dark-size-font-base: var(--default-size-font-base);
}

html {
	--border-large: var(--light-border-large);
	--border: var(--light-border);
	--color-accent: var(--light-color-accent);
	--color-background-highlight: var(--light-color-background-highlight);
	--color-background: var(--light-color-background);
	--color-border: var(--light-color-border);
	--color-links: var(--light-color-links);
	--color-text-highlight: var(--light-color-text-highlight);
	--color-text: var(--light-color-text);
	--size-border-radius-small: var(--light-size-border-radius-small);
	--size-border-radius: var(--light-size-border-radius);
	--size-font-base: var(--light-size-font-base);
}

html.force-dark-mode {
	--border-large: var(--dark-border-large);
	--border: var(--dark-border);
	--color-accent: var(--dark-color-accent);
	--color-background-highlight: var(--dark-color-background-highlight);
	--color-background: var(--dark-color-background);
	--color-border: var(--dark-color-border);
	--color-links: var(--dark-color-links);
	--color-text-highlight: var(--dark-color-text-highlight);
	--color-text: var(--dark-color-text);
	--size-border-radius-small: var(--dark-size-border-radius-small);
	--size-border-radius: var(--dark-size-border-radius);
	--size-font-base: var(--dark-size-font-base);
}

@media (prefers-color-scheme: dark) {
	html:not(.disable-dark-mode) {
		--border-large: var(--dark-border-large);
		--border: var(--dark-border);
		--color-accent: var(--dark-color-accent);
		--color-background-highlight: var(--dark-color-background-highlight);
		--color-background: var(--dark-color-background);
		--color-border: var(--dark-color-border);
		--color-links: var(--dark-color-links);
		--color-text-highlight: var(--dark-color-text-highlight);
		--color-text: var(--dark-color-text);
		--size-border-radius-small: var(--dark-size-border-radius-small);
		--size-border-radius: var(--dark-size-border-radius);
		--size-font-base: var(--dark-size-font-base);
	}
}

:focus {
	outline-color: var(--color-accent);
	outline-offset: 4px;
	outline-width: 2px;
	outline-style: solid;
}

html,
body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: sans-serif;
	font-size: var(--size-font-base);
}

table {
	background: var(--color-border);
	border-collapse: collapse;
	border-radius: var(--size-border-radius);
	width: fit-content;
	overflow: hidden;
}

table thead th {
	background: var(--color-background-highlight);
}

table tbody td {
	background: var(--color-background);
}

table tr:hover td {
	background-color: var(--color-background-highlight);
}

table {
	border: var(--border);
}

table tr {
	border-bottom: var(--border);
}

table tr th,
table tr td {
	border-right: var(--border);
}

table td,
table th {
	text-align: left;
	vertical-align: top;
	padding: 0.5rem;
}

label {
	display: block;
}

button,
input,
select,
textarea {
	border: var(--border);
	width: max-content;
	appearance: none;
	background-color: var(--color-background-highlight);
	color: var(--color-text);
	border-radius: var(--size-border-radius);
	outline: none;
	padding: 0.5rem;
	font-size: 1rem;
	display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	margin-right: 0.25rem;
	position: relative;
}

input[type="checkbox"] {
	border-radius: var(--size-border-radius-small);
}

input[type="radio"] {
	border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	border-color: var(--color-accent);
	background: var(--color-accent);
}

textarea {
	max-width: 100%;
	min-width: 50vw;
	resize: both;
	width: 100%;
}

select {
	background: linear-gradient(
			225deg,
			var(--color-text) 49%,
			var(--color-background-highlight) 50%
		),
		var(--color-background-highlight);
	white-space: unset;
	background-position: calc(100% - 0.5rem);
	background-repeat: no-repeat;
	background-size: 0.5rem 0.5rem;
	padding-right: 1.5rem;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

fieldset {
	padding: 0.5rem;
}

fieldset label:not(:last-child) {
	padding-bottom: 0.5rem;
}

button:not([disabled]),
label,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
	cursor: pointer;
}

button:not([disabled]):hover,
fieldset:not(:focus):hover,
input:not(:focus):hover,
textarea:not(:focus):hover,
select:not(:focus):hover {
	border-color: var(--color-text-highlight);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
	font-weight: normal;
}

h6 {
	font-size: 1rem;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
b,
strong,
th {
	font-weight: 700;
}

hr {
	border: var(--border-large);
}

p {
	line-height: 1.6em;
	display: block;
}

a {
	color: var(--color-links);
	border-radius: var(--size-border-radius-small);
}

ul,
ol {
	padding-left: 2rem;
}

li {
	line-height: 1.6em;
}

img {
	border-radius: var(--size-border-radius);
	max-width: 100%;
	height: auto;
}

code {
	background-color: var(--color-background-highlight);
	border-radius: var(--size-border-radius);
	border: var(--border);
	max-width: fit-content;
	padding: 2px 4px;
	font-size: 1em;
	overflow-x: auto;
}

pre > code {
	padding: 0.5rem 1rem;
	display: block;
	overflow-x: auto;
}

blockquote {
	margin: 0;
	padding-left: 1.5rem;
	position: relative;
}

blockquote:before {
	content: "";
	height: 100%;
	border-left: 7px solid var(--color-border);
	border-radius: 7px;
	display: block;
	position: absolute;
	left: 0;
}

details {
	border: var(--border);
	border-radius: var(--size-border-radius-small);
	padding: 0.5em 0.5em 0;
}

details summary {
	border-radius: var(--size-border-radius-small);
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
	font-weight: bold;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-radius: var(--size-border-radius-small) var(--size-border-radius-small)
		0 0;
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
}
