:root {
	--k-prism-border-radius: 4px;
	--k-prism-button-padding: 0.5rem 1rem;
	--k-prism-color-link: var(--k-prism-color-background-accent);
	--k-prism-font-base-family: sans-serif;
	--k-prism-font-base-size: 16px;
	--k-prism-font-base-weight: 500;
	--k-prism-font-title-family: sans-serif;
	--k-prism-font-title-weight: 700;
	--k-prism-dark-color-background-accent: #00bfff;
	--k-prism-dark-color-background-primary: #01040a;
	--k-prism-dark-color-background-secondary: #0d1117;
	--k-prism-dark-color-border-primary: #d0d7de;
	--k-prism-dark-color-foreground-accent: #01040a;
	--k-prism-dark-color-foreground-primary: #e6edf3;
	--k-prism-dark-color-foreground-secondary: #30363d;
	--k-prism-light-color-background-accent: #0057ad;
	--k-prism-light-color-background-primary: #f6f8fa;
	--k-prism-light-color-background-secondary: #fff;
	--k-prism-light-color-border-primary: #d0d7de;
	--k-prism-light-color-foreground-accent: #f6f8fa;
	--k-prism-light-color-foreground-primary: #1f2329;
	--k-prism-light-color-foreground-secondary: #d0d7de;
}

html {
	--k-prism-color-background-accent: var(--k-prism-dark-color-background-accent);
	--k-prism-color-background-primary: var(--k-prism-dark-color-background-primary);
	--k-prism-color-background-secondary: var(--k-prism-dark-color-background-secondary);
	--k-prism-color-border-primary: var(--k-prism-dark-color-border-primary);
	--k-prism-color-foreground-accent: var(--k-prism-dark-color-foreground-accent);
	--k-prism-color-foreground-primary: var(--k-prism-dark-color-foreground-primary);
	--k-prism-color-foreground-secondary: var(--k-prism-dark-color-foreground-secondary);
}

@media (prefers-color-scheme: dark) {
	html:not(.disable-dark-mode) {
		--k-prism-color-background-accent: var(--k-prism-dark-color-background-accent);
		--k-prism-color-background-primary: var(--k-prism-dark-color-background-primary);
		--k-prism-color-background-secondary: var(--k-prism-dark-color-background-secondary);
		--k-prism-color-border-primary: var(--k-prism-dark-color-border-primary);
		--k-prism-color-foreground-accent: var(--k-prism-dark-color-foreground-accent);
		--k-prism-color-foreground-primary: var(--k-prism-dark-color-foreground-primary);
		--k-prism-color-foreground-secondary: var(--k-prism-dark-color-foreground-secondary);
	}
}

@media (prefers-color-scheme: light) {
	html:not(.disable-light-mode) {
		--k-prism-color-background-accent: var(--k-prism-light-color-background-accent);
		--k-prism-color-background-primary: var(--k-prism-light-color-background-primary);
		--k-prism-color-background-secondary: var(--k-prism-light-color-background-secondary);
		--k-prism-color-border-primary: var(--k-prism-light-color-border-primary);
		--k-prism-color-foreground-accent: var(--k-prism-light-color-foreground-accent);
		--k-prism-color-foreground-primary: var(--k-prism-light-color-foreground-primary);
		--k-prism-color-foreground-secondary: var(--k-prism-light-color-foreground-secondary);
	}
}

html.disable-dark-mode:not(.disable-light-mode) {
	--k-prism-color-background-accent: var(--k-prism-light-color-background-accent);
	--k-prism-color-background-primary: var(--k-prism-light-color-background-primary);
	--k-prism-color-background-secondary: var(--k-prism-light-color-background-secondary);
	--k-prism-color-border-primary: var(--k-prism-light-color-border-primary);
	--k-prism-color-foreground-accent: var(--k-prism-light-color-foreground-accent);
	--k-prism-color-foreground-primary: var(--k-prism-light-color-foreground-primary);
	--k-prism-color-foreground-secondary: var(--k-prism-light-color-foreground-secondary);
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: var(--k-prism-font-base-size);
}

html body {
	font-size: var(--k-prism-font-base-size);
	font-family: var(--k-prism-font-base-family);
	color: var(--k-prism-color-foreground-primary);
	background: var(--k-prism-color-background-primary);
}

html a {
	color: var(--k-prism-color-link);
	text-decoration: none;
}

html a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--k-prism-font-title-family);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

h5 {
	font-size: 0.83rem;
}

h6 {
	font-size: 0.67rem;
}

h4 {
	font-size: 1rem;
}

nav {
	font-family: var(--k-prism-font-title-family);
}

nav ul {
	list-style-type: none;
}

form label {
	display: block;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
	background-color: var(--k-prism-color-background-accent);
	border-radius: var(--k-prism-border-radius);
	color: var(--k-prism-color-foreground-accent);
	font-family: var(--k-prism-font-title-family);
	padding: var(--k-prism-button-padding);
	border: none;
	font-size: 1rem;
}

input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover {
	cursor: pointer;
	text-decoration: underline;
}

article > :not(:last-child) {
	margin-bottom: 1rem;
}

article p {
	line-height: 1.6rem;
	display: block;
}

article img {
	max-height: 50vh;
	max-width: 100%;
	display: inline-block;
}

article ul,
article ol {
	padding-left: 2rem;
}

article ul li,
article ol li {
	line-height: 1.6rem;
}

article table {
	background: var(--k-prism-color-background-secondary);
	min-width: 100%;
	border-collapse: collapse;
	text-align: left;
}

article table,
article table td,
article table th {
	border: 1px solid var(--k-prism-color-foreground-secondary);
}

article table th {
	background: var(--k-prism-color-background-primary);
	font-family: var(--k-prism-font-title-family);
}

article table td,
article table th {
	padding: 0.5rem;
}

article table tbody tr:nth-child(2n) {
	background: var(--k-prism-color-background-primary);
}
