body {
	padding: 1.5rem;
}

section {
	padding: 1.5rem;
	background-color: var(--k-prism-color-background-secondary);
	border: 1px solid var(--k-prism-color-foreground-secondary);
}

section:not(:last-child) {
	margin-bottom: 1.5rem;
}

section > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

section form div {
	padding-bottom: 1.5rem;
}

section form div > * {
	margin-top: 0.5rem;
}
