label {
	display: block;
	/* max-width: fit-content; */
}

/* Form Style */
button,
input,
select,
textarea {
	padding: 0.5rem;
	font-size: 1rem;
	border: var(--border);
	outline: none;
	display: inline-block;
	width: max-content;
	appearance: none;
	background-color: var(--color-background-highlight);
	color: var(--color-text);
	border-radius: var(--size-border-radius);
}

/* Checkboxes and Radios */
input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	position: relative;
	margin-right: 0.25rem;
}

input[type="checkbox"] {
	border-radius: var(--size-border-radius-small);
}

input[type="radio"] {
	border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	border-color: var(--color-accent);
	background: var(--color-accent);
}

textarea {
	max-width: 100%;
	min-width: 50vw;
	resize: both;
	width: 100%;
}

select {
	padding-right: 1.5rem;
	background: linear-gradient(
			225deg,
			var(--color-text) 49%,
			var(--color-background-highlight) 50%
		),
		var(--color-background-highlight);

	background-position: calc(100% - 0.5rem) center;
	background-size: 0.5rem 0.5rem;
	background-repeat: no-repeat;
	white-space: unset;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

fieldset {
	padding: 0.5rem;
}

fieldset label:not(:last-child) {
	padding-bottom: 0.5rem;
}

/* Pointer Effect */
button:not([disabled]),
label,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
	cursor: pointer;
}

/* Hover Effect only if it's not */
button:not([disabled]):hover,
fieldset:not(:focus):hover,
input:not(:focus):hover,
textarea:not(:focus):hover,
select:not(:focus):hover {
	border-color: var(--color-text-highlight);
}
