:root {
	/* Full values */
	--border-large: 1px solid var(--color-border);
	--border: 1px solid var(--color-border);
	--color-accent: #0057ad;
	--color-background-highlight: #f1f1f1;
	--color-background: #fff;
	--color-border: #dddddd;
	--color-links: var(--color-accent);
	--color-shadow: #545454;
	--color-text-highlight: #b8b8b8;
	--color-text: #1c1d1e;
	--size-border-radius-small: calc(var(--size-border-radius) / 2);
	--size-border-radius: 10px;
	--size-font-base: 12pt;
	--size-font-base3: 12pt;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Change colors for dark mode */
		--color-accent: #00bfff;
		--color-background-highlight: #222;
		--color-background: #0f0f0f;
		--color-border: #444;
		--color-shadow: #bebebe;
		--color-text-highlight: #888;
		--color-text: #efefef;
		/* Remove border radius for dark mode */
		--size-border-radius: 0;
	}
}
